.wrapper {
    display: grid;
    grid-template-columns: 450px auto;
    grid-template-rows: 60px 250px auto 50px;
    grid-gap: 3px; 
    font-family: 'sans-serif', Helvetica, Verdana, ;
  }
  
  header {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  header h1 {
    margin: 12px 0;
    padding: 0;
  }
  
  nav ul {
    display: flex;
    width: 335px;
    justify-content: space-between;
  }
  
  nav ul li {
    width: 100px;
    list-style-type: none;
    background: rgb(117, 117, 181);
    text-align: center;
    padding: 6px 4px;
  }
  
  nav ul li a {
    color: rgb(12, 12, 12);
    text-decoration: none;
  }

  section.Welcome {
    grid-column: span 2;
    background-image: url(trivia2.jpeg);
    background-repeat: no-repeat;
    /* background-position: 0 65%; */
    background-position: 0 65%;
    background-size: cover;
    text-align: center;
  }
  section.Questions {
    grid-column: span 2;
    /* background-image: url(did_you_know.jpeg); */
    background-repeat: no-repeat;
    background-position: 0 65%;
    background-size: cover;
    text-align: center;
  }

  section.Questions blockquote {
    font: bold 3em 'Pinyon Script', cursive;
    margin-bottom: 0;
  }
  
  section.Questions p {
    font-style: italic;
  }

  .questions {
    list-style-type: none;
    margin: 15px;
    padding: 4px 25px 4px 0;
    background: #eee;
    border: 1px solid #ccc;
  }
  
  .questions blockquote {
    font: 1.7em 'Pinyon Script', cursive;
  }

  .questions p {
    font: 1.7em 'Pinyon Script', cursive;
  }

body {
    background-color: rgb(105, 205, 181);
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    }
    
    /* style reset button */
    #reset-btn {
    text-align: center;
    font-size: 20px;
    border: 3px solid blue;
    height: 35px;
    width: 250px;
    margin: 30px;
    }
    #next-btn {
    text-align: center;
    font-size: 20px;
    border: 3px solid blue;
    height: 35px;
    width: 250px;
    margin: 10px;
   }

    h2 {
    margin: 0 auto;
    font-size: 25px;
    margin: 10px;
    }

    footer {
    grid-column: span 2;
    padding: 0 10px;
    background: #333;
    color: #fff;
    }
    .content {
        padding: 10px;
      }






    /* 
      
      .form input, .form textarea {
        width: 90%;
        margin: 5px 0;
        padding: 5px;
        font-size: 110%;
      }
      
      .form textarea {
        height: 80px;
      }
      
      .form label {
        font-weight: bold;
      }
      
      .quote {
        list-style-type: none;
        margin: 15px;
        padding: 4px 25px 4px 0;
        background: #eee;
        border: 1px solid #ccc;
      }
      
      .quote blockquote {
        font: 1.7em 'Pinyon Script', cursive;
      }
      
      .quote newblockquote {
        font: 1.7em 'Pinyon Script', cursive;
      }
      
      .quote p {
        text-align: right;
        font-style: italic;
      }
      
      footer {
        grid-column: span 2;
        padding: 0 10px;
        background: #333;
        color: #fff;
      }
      
      .content {
        padding: 10px;
      }
         */